<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />




        <title>Dashboard - DS Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min1.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link href="css/signin.css" rel="stylesheet">
    </head>
    <body class="text-center">

        <form class="form-signin" th:action="@{/login}" method="post">
            <img src="images/logo4.jpeg" alt="" width="140" >
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <label for="inputEmail" class="sr-only">usuario</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="usuario" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> recordarme
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </form>

        <!--form th:action="@{/login}" method="post">
     <div><label> User Name : <input type="text" name="username"/> </label></div>
     <div><label> Password: <input type="password" name="password"/> </label></div>
     <div><input type="submit" value="Sign In"/></div>
     <select id="empresasSelect"></select>
 </form>
 <!--script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!--script>
     $(document).ready(function () {
     // Asegúrese de que el usuario esté autenticado antes de cargar los datos
     // Aquí puede verificar si el usuario está autenticado o realizar una redirección a una página de inicio de sesión si es necesario.

     // Luego, realice una llamada AJAX para obtener los datos de la base de datos
     $.ajax({
     url: '/getresidenciales', // Ruta para obtener datos de empresas (debe ser manejada en su controlador Spring)
             type: 'GET',
             dataType: 'json',
             success: function (data) {
             // Llene el select con los datos obtenidos
             var select = $('#empresasSelect');
                     $.each(data, function (index, empresa) {
                     select.append($('<option>').val(empresa.idResidential).text(empresa.name));
                     });
             },
             error: function () {
             alert('Error al cargar las empresas.');
             },
     });
     });
             </script-->
    </body>
</html>
