<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DS-Residenciales</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/styles-ticket.css}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">

    <th:block th:replace="~{layout/plantilla :: header}"></th:block>
    <!-- barra vertical -->
    <div id="layoutSidenav">
        <th:block th:replace="~{layout/plantilla :: menu}"></th:block> 

        <div id="layoutSidenav_content">
            <main>
                <div th:object="${ticket}"></div>
                <div th:object="${comentarios}"></div>
                <div class="container">
                    <div class="card  bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header" th:text='Gestion'></div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ticket.asunto}"></h5>
                            <p class="card-text" th:text="${ticket.descripcion}"></p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-7">

                            <div class="chat">
                                
                                <div th:if="${comentarios != null and !comentarios.empty}">
                                    <table>
                                        <tr th:each="comment : ${comentarios}">
                                        <div class="conversacion">
                                            <div th:class="${comment.usuario.nombreUsuario == #authentication.principal.getUsername() ? 'mensaje pregunta' : 'mensaje respuesta'}" th:text="${comment.comentario}"></div>
                                        </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="caja-mensaje">
                                <form th:action="@{guardarcomentario}" method="post" >
                                    <input type="text" id="txtcomentario" name="txtcomentario" placeholder="Escribe acá">
                                    <input type="hidden" id="idticket" name="idticket" th:value="${ticket.idTicket}"/>
                                    <button type="submit">Enviar</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
            </main>
            <th:block th:replace="~{layout/plantilla :: footer}"></th:block>    
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>
