<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DS-Residenciales</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/styles-ticket.css}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            #txtcomentario {
                /* width: 100%; */
            }

            #customFile {
                margin-left: 10px;
            }



            /* Ajusta el ancho máximo de la vista previa */
            #file-preview {
                max-width: 100%;
            }
        </style>
    </head>
    <body class="sb-nav-fixed">

    <th:block th:replace="~{layout/plantilla :: header}"></th:block>
    <!-- barra vertical -->
    <div id="layoutSidenav">
        <th:block th:replace="~{layout/plantilla :: menu}"></th:block> 

        <div id="layoutSidenav_content">
            <main>
                <div th:object="${ticket}"></div>
                <div th:object="${comentarios}"></div>
                <div class="container">
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card">
                                <div class="card-header" >
                                    <a class="btn-close" th:href="@{/gestion}"></a>
                                    <div  class="text-center mx-auto" th:utext="'<b>' + ${ticket.asunto} + '</b>'"></div>
                                </div>
                                <div class="card-body">
                                    <div  th:utext="${ticket.descripcion}"></div>
                                    <br>
                                   
                                    <form th:action="@{estadoTicket}" enctype="multipart/form-data"  method="post" th:object="${ticket}">
                                                <input type="hidden" id="idTicket" th:field="*{idTicket}"/>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-4" ></div>
                                                        <div class="col-2">
                                                            <label>Estado:</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <select class="form-control" id="cmbServ" aria-label="Tipo servicio" width="100%" th:field="*{estado}">
                                                                <option th:each="status : ${estadosTicket}" th:value="${status.idEstado}" th:text="${status.nombre}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-outline-primary btn-lg" width="100%">Guardar</button>
                                                        <div class="col-9"></div>
                                                        <div class="col-2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                </div>
                            </div>
                            <div class="chat">
                                <div class="conversacion">
                                    <!--div th:if="${ticket.descripcion}!=''" th:class="${ticket.usuario.nombreUsuario == #authentication.principal.getUsername() ? 'mensaje pregunta' : 'mensaje respuesta'}" th:utext="'<b>' + ${ticket.asunto} + '</b><br/>' + ${ticket.descripcion}">
                                    </div-->
                                </div>
                                <div th:if="${comentarios != null and !comentarios.empty}">
                                    <table>
                                        <tr th:each="comment : ${comentarios}">
                                        <div class="conversacion">
                                            <div th:if="${comment.comentario}!=''" th:class="${comment.usuario.nombreUsuario == #authentication.principal.getUsername() ? 'mensaje pregunta' : 'mensaje respuesta'}" th:text="${comment.comentario}">
                                            </div>
                                            <div th:if="${comment.adjunto}!='' and ${comment.adjunto}!=null" th:class="${comment.usuario.nombreUsuario == #authentication.principal.getUsername() ? 'mensaje pregunta' : 'mensaje respuesta'}" >
                                                <a th:href="@{/__${comment.adjunto}__}" download th:text="'Descargar Adjunto'"></a>
                                            </div>
                                        </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="caja-mensaje">
                                <form th:action="@{guardarcomentario}" method="post" enctype="multipart/form-data" width="90%">
                                    <div class="row justify-content-center">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                            <div  class="row">
                                                <input type="hidden" id="idticket" name="idticket" th:value="${ticket.idTicket}"/>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <textarea id="txtcomentario" name="txtcomentario" placeholder="Escribe acá" style="width: 100%; height: 100px;"></textarea>

                                                        </div>
                                                        <div class="col-1">
                                                            <label class="custom-file-label" for="customFile" style="margin-left: 10px;">
                                                                <i class="fas fa-paperclip"></i>
                                                                <input type="file" class="form-control border border-primary" id="customFile" name="file" style="display: none;">

                                                            </label>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="submit" style="margin-left: 10px;">Enviar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-9">
                                                    <div id="preview-container" style="display: none;">
                                                        <img id="file-preview" src="#" alt="Vista previa" style="max-width: 25%; max-height: 75px;">
                                                        <span id="name-preview"></span>

                                                    </div>

                                                </div>
                                                <div class="col-1">
                                                    <a class="btn btn-danger"  id="clearFileInput" type="button" style="display: none;width: 50px;height: 30px;"><i class="fas fa-times"> </i></a>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
            </main>
            <th:block th:replace="~{layout/plantilla :: footer}"></th:block>    
        </div>

    </div>

    <script>
        const fileInput = document.getElementById('customFile');
        const textarea = document.getElementById('txtcomentario');
        const previewContainer = document.getElementById('preview-container');
        const filePreview = document.getElementById('file-preview');
        const fileIcon = document.getElementById('file-icon');
        const namePreview = document.getElementById('name-preview');
        const clearFileButton = document.getElementById('clearFileInput');

        fileInput.addEventListener('change', function () {
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    if (file.type.startsWith('image/')) {
                        filePreview.src = e.target.result;
                    } else {
                        filePreview.src = "/images/doc.png"
                    }
                    previewContainer.style.display = 'block';
                    namePreview.textContent = file.name;
                    clearFileButton.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        });

        clearFileButton.addEventListener('click', function () {
            const fileInput = document.getElementById('customFile');
            fileInput.value = ''; // Limpia el valor del campo de carga de archivos
            clearFileButton.style.display = 'none'; // Oculta el botón "X"
            previewContainer.style.display = 'none';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/mensajes.js"></script>
</body>
</html>
