<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DS-Residenciales</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">

        <header th:replace="layout/plantilla :: header"></header>
        <!-- barra vertical -->
        <div id="layoutSidenav">
            <div th:replace="layout/plantilla :: menu" id="layoutSidenav_nav"></div>  

            <div id="layoutSidenav_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="modal-header">
                                        <h5 class="modal-title"></h5>
                                        <a class="btn-close" th:href="@{/gestion}"></a>
                                    </div>
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Gestion</h3></div>

                                    <div class="card-body">
                                        <form class="was-validated" th:action="@{guardargestion}" method="post" th:object="${ticket}">
                                            <input class="form-control" id="id" type="hidden" th:field="*{idTicket}"/>
                                            <div class="form-floating mb-3">
                                                <input class="form-control is-valid" id="nombre" type="text" placeholder="Ingrese el nombre" th:field="*{asunto}" disabled/>
                                                <label for="inputFirstName">Asunto</label>
                                                <span th:if="${#fields.hasErrors('asunto')}" th:errors="*{nombre}">Error en asunto</span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control is-valid" id="nombre" type="text" placeholder="Ingrese el Descripcion" th:field="*{descripcion}" disabled/>
                                                <label for="inputFirstName">Descripcion</label>
                                                <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{nombre}">Error en asunto</span>
                                            </div>
                                            <input class="form-control" id="status" type="hidden" value="1"/>
                                            <div class="form-floating mb-3">
                                                <select class="form-control" aria-label="Cambiar estado" >
                                                    <option th:each="estado : ${estadosTicket}" th:value="${estado.idEstado}" th:text="${estado.nombre}">
                                                    </option>
                                                </select>
                                                <input class="form-control" id="asunto" type="hidden" th:field="*{asunto}"/>
                                                <input class="form-control" id="descripcion" type="hidden" th:field="*{descripcion}"/>
                                                <input class="form-control" id="residencial" type="hidden" th:field="*{idResidencial}"/>
                                                <input class="form-control" id="tipo" type="hidden" th:field="*{idTipo}"/>
                                                <input class="form-control" id="usuario" type="hidden" th:field="*{usuario}"/>
                                                <div class="mt-4 mb-0">
                                                    <div class="d-grid"><input type="submit" class="btn btn-primary" value="Guardar"></div>
                                                </div>


                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="layout/plantilla :: footer"></footer>     
            </div>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
